.o_marketing_campaign_form_view_view {
    --fieldWidget-margin-bottom: 0;
    .o_form_renderer {
        max-width: unset;
        .o_field_campaign_flow_view {
            min-height: 0;
        }
    }

    .o_marketing_campaign_helper_card:hover,
    .o-editor-node:hover:not(:has(button:hover)) {
        --background-color: #{$o-gray-200};
    }
}

.o_field_campaign_flow_view {
    .o_marketing_campaign_helper_card:hover,
    .o-editor-node:hover:not(:has(button:hover)) {
        --background-color: #{$o-gray-200};
    }
}
